svg {
  font: 10px sans-serif;
}

body{
    font-family: 'Helvetica', sans-serif; 
    overflow-x: hidden !important;
}

#page-body{
    position: relative;
}
.page-title{
 position: absolute;
 right: 100px;
 width: 575px;
 margin-top: 40px;
 text-align: center; 
 color: black;    
}

.footer-text{
    font-family: 'Helvetica', sans-serif; 
    font-size: 14px;
    font-weight: 400;
    left: 10px;
}

.body-text{
  font-size: 17px;
  line-height: 1.6;
  opacity: 0.6;
  text-align: left;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#parentSVG{
   position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.graph{
    position: absolute;
    bottom: 0;
}

.neighborhood {
    stroke: #777;
    stroke-linejoin: round;
    stroke-width: 1.5;
}

path.neighborhood:hover{
  opacity: 0.5 !important;
}

.neighborhood.active{
  fill: grey;
}

#neighborhood-label{
   font: 35px sans-serif;
   fill: rgba(128, 128, 128, 0.86);
}

.bars{
  
}

.bars:hover{
  fill: #FF933B;
}

area{
  fill:black;
}

.key path {
  display: none;
}

.caption {
  font-weight: bold;
}

hideText{
    visibility: hidden;
}

div#help{
  position: relative;
  left: 50px;
  bottom: -3px;
  font-size: 10px;
  

}

em{
  font-style: normal;
  float: right;
}

#footer{
  margin-top: -2px;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-left: 25px;
  margin-right: 85px;
  margin-bottom: 25px;
  position: absolute;
  bottom: 0;
  top: 800px;
}

#column-left{
  float: left;
  width: 333px;
}

#column-center{
  float: left;
  width: 333px;
}

#column-right{
  float: left;
  width: 333px;
}

#legend{
  font: Times;
}


.tooltip {
    position: absolute;				
    width: auto;
    height: auto;
    font: 14px sans-serif;
    background: white;		
    border-radius: 5px;			
    pointer-events: none;
    
}

.axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text{
    font: Times;
    font-size: 12px;
    font-weight: bold;
}





